<div class="view">
  <div class="diagram-container">
    <gojs-diagram
      #myDiagram
      [initDiagram]="initDiagram"
      [nodeDataArray]="state.diagramNodeData"
      [linkDataArray]="state.diagramLinkData"
      [divClassName]="diagramDivClassName"
      [modelData]="state.diagramModelData"
      [(skipsDiagramUpdate)]="state.skipsDiagramUpdate"
      (modelChange)="diagramModelChange($event)"
    ></gojs-diagram>

    <gojs-overview
      #myOverview
      [initOverview]="initOverview"
      [divClassName]="oDivClassName"
      [observedDiagram]="observedDiagram"
    ></gojs-overview>

    <div class="details-container">
      <div class="buttons">
        <button (click)="save()" [disabled]="saveDisabled">Save</button>
        <button (click)="load()">Load</button>
        <button (click)="deleteZone()" [disabled]="deleteZoneDisabled">
          Delete
        </button>
        <button (click)="addZone()">Add Zone</button>
        <button (click)="addDevice()">Add Device</button>
      </div>
    </div>
  </div>
</div>
